"@typescript-eslint/member-delimiter-style": [
    "warn",
    {
        "multiline": {
            "delimiter": "semi",
            "requireLast": true
        },
        "singleline": {
            "delimiter": "semi",
            "requireLast": true
        }
    }
]


